In [ ]:
%matplotlib inline
import geohash
import geopandas as gp
import pandas as pd
import geojson
from geojson import MultiLineString
from shapely import geometry
from shapely.geometry import Point, Polygon, box
from geopandas import datasets, GeoDataFrame, read_file
from geopandas.tools import overlay

In [ ]:
def is_geohash_in_bounding_box(current_geohash, bbox_coordinates):
    """Checks if the box of a geohash is inside the bounding box

    :param current_geohash: a geohash
    :param bbox_coordinates: bounding box coordinates
    :return: true if the the center of the geohash is in the bounding box
    """

    coordinates = geohash.decode(current_geohash)
    geohash_in_bounding_box = (bbox_coordinates[0] < coordinates[0] < bbox_coordinates[2]) and (
            bbox_coordinates[1] < coordinates[1] < bbox_coordinates[3])
    return geohash_in_bounding_box
def build_geohash_box(current_geohash):
    """Returns a GeoJSON Polygon for a given geohash

    :param current_geohash: a geohash
    :return: a list representation of th polygon
    """

    b = geohash.bbox(current_geohash)
    polygon = [(b['w'], b['s']), (b['w'], b['n']), (b['e'], b['n']), (b['e'], b['s'],), (b['w'], b['s'])]
    return polygon
def compute_geohash_tiles(bbox_coordinates,GEOHASH_PRECISION):
    """Computes all geohash tile in the given bounding box

    :param bbox_coordinates: the bounding box coordinates of the geohashes
    :return: a list of geohashes
    """

    checked_geohashes = set()
    geohash_stack = set()
    geohashes = []
    # get center of bounding box, assuming the earth is flat ;)
    center_latitude = (bbox_coordinates[0] + bbox_coordinates[2]) / 2
    center_longitude = (bbox_coordinates[1] + bbox_coordinates[3]) / 2

    center_geohash = geohash.encode(center_latitude, center_longitude, precision=GEOHASH_PRECISION)
    geohashes.append(center_geohash)
    geohash_stack.add(center_geohash)
    checked_geohashes.add(center_geohash)
    while len(geohash_stack) > 0:
        current_geohash = geohash_stack.pop()
        neighbors = geohash.neighbors(current_geohash)
        for neighbor in neighbors:
            if neighbor not in checked_geohashes and is_geohash_in_bounding_box(neighbor, bbox_coordinates):
                geohashes.append(neighbor)
                geohash_stack.add(neighbor)
                checked_geohashes.add(neighbor)
    return geohashes
def create_polygon(coordinates):
    polygon_geom = Polygon(coordinates)
    crs = {'init': 'epsg:4326'}
    polygon = gp.GeoDataFrame(index=[0], crs=crs, geometry=[polygon_geom])     
    return polygon.geometry # return polygon['geometry']
# this function is for save the geohashes into a json file 
def write_geohash_layer(geohashes,filename):
    """Writes a grid layer based on the geohashes

    :param geohashes: a list of geohashes
    """

    layer = MultiLineString([build_geohash_box(gh) for gh in geohashes])
    with open('result/' + filename + '.json', 'wb') as f:
        f.write(geojson.dumps(layer,sort_keys=True).encode('utf-8'))

def compute_geohash_tiles_from_polygon(polygon,GEOHASH_PRECISION):
    """Computes all hex tile in the given polygon

    :param polygon: the polygon
    :return: a list of geohashes
    """

    checked_geohashes = set()
    geohash_stack = set()
    geohashes = []
    # get center of bounding, assuming the earth is flat ;)
    center_latitude = polygon.centroid.coords[0][1]
    center_longitude = polygon.centroid.coords[0][0]

    center_geohash = geohash.encode(center_latitude, center_longitude, precision=GEOHASH_PRECISION)
    geohashes.append(center_geohash)
    geohash_stack.add(center_geohash)
    checked_geohashes.add(center_geohash)
    while len(geohash_stack) > 0:
        current_geohash = geohash_stack.pop()
        neighbors = geohash.neighbors(current_geohash)
        for neighbor in neighbors:
            point = geometry.Point(geohash.decode(neighbor)[::-1])
            if neighbor not in checked_geohashes and polygon.contains(point):
                geohashes.append(neighbor)
                geohash_stack.add(neighbor)
                checked_geohashes.add(neighbor)
    return geohashes

In [107]:
msia_gdf = gp.GeoDataFrame.from_file('msia_routes_kl/msia_routes_kl.shp', geometry='geometry')

In [4]:
len(msia_gdf)

In [5]:
msia_gdf.head()

In [6]:
msia_poi = gp.GeoDataFrame.from_file('msia_poi_kl/msia_poi_kl.shp', geometry='geometry')

In [12]:
msia_poi.head()
msia_poi.dtypes

osm_id       object
code          int64
fclass       object
name         object
GID_0        object
NAME_0       object
GID_1        object
NAME_1       object
NL_NAME_1    object
GID_2        object
NAME_2       object
VARNAME_2    object
NL_NAME_2    object
TYPE_2       object
ENGTYPE_2    object
CC_2         object
HASC_2       object
geometry     object
dtype: object

In [37]:
#print(msia_poi['geometry'].iloc[0][0].x)
#print(msia_poi['geometry'])
msia_poi['lat'] = msia_poi['geometry'].centroid.y
msia_poi['lon'] = msia_poi['geometry'].centroid.x

In [123]:
msia_poi.head(100)

,osm_id,code,fclass,name,GID_0,NAME_0,GID_1,NAME_1,NL_NAME_1,GID_2,...,TYPE_2,ENGTYPE_2,CC_2,HASC_2,geometry,lat,lon,geohash,cx_count,cx_count_int
0,158731933,2501,supermarket,Hero,MYS,Malaysia,MYS.15_1,Selangor,None,MYS.15.7_1,...,Daerah,District,None,MY.SL.PE,(POINT (101.5458488 3.0876767)),3.087677,101.545849,'w281wdp',True,500
1,158732943,2504,mall,Ole Ole,MYS,Malaysia,MYS.15_1,Selangor,None,MYS.15.7_1,...,Daerah,District,None,MY.SL.PE,(POINT (101.5169616 3.0434654)),3.043465,101.516962,'w281q44',True,500
2,158741219,2302,fast_food,McDonald's,MYS,Malaysia,MYS.15_1,Selangor,None,MYS.15.7_1,...,Daerah,District,None,MY.SL.PE,(POINT (101.5475146 3.0403635)),3.040364,101.547515,'w281qc2',False,100
3,168928764,2110,hospital,SALAM Shah Alam Specialist Hospital,MYS,Malaysia,MYS.15_1,Selangor,None,MYS.15.7_1,...,Daerah,District,None,MY.SL.PE,(POINT (101.5353548 3.0491463)),3.049146,101.535355,'w281q7p',True,500
4,168931187,2301,restaurant,Seri Bunga,MYS,Malaysia,MYS.15_1,Selangor,None,MYS.15.7_1,...,Daerah,District,None,MY.SL.PE,(POINT (101.5386002 3.0510745)),3.051074,101.538600,'w281qe6',False,100
5,168932609,2601,bank,Maybank,MYS,Malaysia,MYS.15_1,Selangor,None,MYS.15.7_1,...,Daerah,District,None,MY.SL.PE,(POINT (101.5420034 3.0558818)),3.055882,101.542003,'w281qsk',True,500
6,168935492,2101,pharmacy,Farmasi Mesra Maju,MYS,Malaysia,MYS.15_1,Selangor,None,MYS.15.7_1,...,Daerah,District,None,MY.SL.PE,(POINT (101.5422999 3.0553058)),3.055306,101.542300,'w281qsh',False,100
7,168936696,2301,restaurant,Restoran Panmour Villa,MYS,Malaysia,MYS.15_1,Selangor,None,MYS.15.7_1,...,Daerah,District,None,MY.SL.PE,(POINT (101.5415213 3.0567032)),3.056703,101.541521,'w281qsk',False,100
8,168937382,2301,restaurant,Ali's Corner,MYS,Malaysia,MYS.15_1,Selangor,None,MYS.15.7_1,...,Daerah,District,None,MY.SL.PE,(POINT (101.5415622 3.056312)),3.056312,101.541562,'w281qsk',False,100
9,168938322,2301,restaurant,Pizza Hut,MYS,Malaysia,MYS.15_1,Selangor,None,MYS.15.7_1,...,Daerah,District,None,MY.SL.PE,(POINT (101.5418317 3.0564068)),3.056407,101.541832,'w281qsk',False,100
10,170873531,2302,fast_food,KFC,MYS,Malaysia,MYS.15_1,Selangor,None,MYS.15.2_1,...,Daerah,District,None,MY.SL.HL,(POINT (101.7887923 2.9917474)),2.991747,101.788792,'w283h28',False,100
11,188301733,2511,convenience,7-Eleven,MYS,Malaysia,MYS.15_1,Selangor,None,MYS.15.7_1,...,Daerah,District,None,MY.SL.PE,(POINT (101.5414233 3.0566639)),3.056664,101.541423,'w281qsk',True,500
12,188306532,2301,restaurant,Khulafa,MYS,Malaysia,MYS.15_1,Selangor,None,MYS.15.7_1,...,Daerah,District,None,MY.SL.PE,(POINT (101.5420771 3.0556564)),3.055656,101.542077,'w281qsk',False,100
13,188308680,2301,restaurant,Yusram Thai Cuisine,MYS,Malaysia,MYS.15_1,Selangor,None,MYS.15.7_1,...,Daerah,District,None,MY.SL.PE,(POINT (101.5422039 3.0552762)),3.055276,101.542204,'w281qsh',False,100
14,188309278,2301,restaurant,None,MYS,Malaysia,MYS.15_1,Selangor,None,MYS.15.7_1,...,Daerah,District,None,MY.SL.PE,(POINT (101.5421079 3.0552467)),3.055247,101.542108,'w281qsh',False,100
15,196106439,2082,school,Cambridge Al-Ikhlas,MYS,Malaysia,MYS.15_1,Selangor,None,MYS.15.7_1,...,Daerah,District,None,MY.SL.PE,(POINT (101.5390085 3.0825358)),3.082536,101.539008,'w281w94',True,500
16,206089209,2511,convenience,7-Eleven,MYS,Malaysia,MYS.15_1,Selangor,None,MYS.15.7_1,...,Daerah,District,None,MY.SL.PE,(POINT (101.5454226 3.0879665)),3.087966,101.545423,'w281wdp',True,500
17,206089507,2511,convenience,7-Eleven,MYS,Malaysia,MYS.15_1,Selangor,None,MYS.15.7_1,...,Daerah,District,None,MY.SL.PE,(POINT (101.5509274 3.0376254)),3.037625,101.550927,'w281qbg',True,500
18,206967384,2001,police,Balai Polis Presinct 11,MYS,Malaysia,MYS.15_1,Selangor,None,MYS.15.9_1,...,Daerah,District,None,MY.SL.SP,(POINT (101.6784855 2.9634233)),2.963423,101.678485,'w282cg2',False,100
19,247184106,2301,restaurant,Pizza Hut,MYS,Malaysia,MYS.15_1,Selangor,None,MYS.15.2_1,...,Daerah,District,None,MY.SL.HL,(POINT (101.7909698 2.9900278)),2.990028,101.790970,'w283h23',False,100
20,247184140,2302,fast_food,KFC,MYS,Malaysia,MYS.15_1,Selangor,None,MYS.15.2_1,...,Daerah,District,None,MY.SL.HL,(POINT (101.7947533 2.9913905)),2.991391,101.794753,'w283h2s',False,100
21,247184750,2601,bank,Maybank,MYS,Malaysia,MYS.15_1,Selangor,None,MYS.15.2_1,...,Daerah,District,None,MY.SL.HL,(POINT (101.764085 2.9423355)),2.942335,101.764085,'w282exw',True,500
22,247496382,2301,restaurant,Soho Seafood,MYS,Malaysia,MYS.15_1,Selangor,None,MYS.15.2_1,...,Daerah,District,None,MY.SL.HL,(POINT (101.7504893 2.9759903)),2.975990,101.750489,'w282gmu',False,100
23,247496398,2301,restaurant,Rimba Klasik,MYS,Malaysia,MYS.15_1,Selangor,None,MYS.15.2_1,...,Daerah,District,None,MY.SL.HL,(POINT (101.7504614 2.975568)),2.975568,101.750461,'w282gms',False,100
24,248499003,2302,fast_food,KFC,MYS,Malaysia,MYS.15_1,Selangor,None,MYS.15.7_1,...,Daerah,District,None,MY.SL.PE,(POINT (101.5180811 3.0439401)),3.043940,101.518081,'w281q45',False,100
25,248503495,2511,convenience,7-Eleven,MYS,Malaysia,MYS.15_1,Selangor,None,MYS.15.7_1,...,Daerah,District,None,MY.SL.PE,(POINT (101.5048661 3.0461952)),3.046195,101.504866,'w281mf9',True,500
26,248503530,2511,convenience,7-Eleven,MYS,Malaysia,MYS.15_1,Selangor,None,MYS.15.7_1,...,Daerah,District,None,MY.SL.PE,(POINT (101.5173934 3.0449078)),3.044908,101.517393,'w281q46',True,500
27,248503539,2601,bank,Maybank,MYS,Malaysia,MYS.15_1,Selangor,None,MYS.15.7_1,...,Daerah,District,None,MY.SL.PE,(POINT (101.5178289 3.0435765)),3.043576,101.517829,'w281q45',True,500
28,248503560,2302,fast_food,McDonald's,MYS,Malaysia,MYS.15_1,Selangor,None,MYS.15.7_1,...,Daerah,District,None,MY.SL.PE,(POINT (101.5179697 3.0443014)),3.044301,101.517970,'w281q45',False,100
29,248584674,2511,convenience,7-Eleven,MYS,Malaysia,MYS.15_1,Selangor,None,MYS.15.7_1,...,Daerah,District,None,MY.SL.PE,(POINT (101.5076869 3.0831787)),3.083179,101.507687,'w281tc7',True,500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,275153318,2952,water_tower,None,MYS,Malaysia,MYS.15_1,Selangor,None,MYS.15.1_1,...,Daerah,District,None,MY.SL.GO,(POINT (101.6933174 3.2600537)),3.260054,101.693317,'w286d16',False,100
71,276683120,2306,food_court,Medan Selera MBSA Seksyen 15B,MYS,Malaysia,MYS.15_1,Selangor,None,MYS.15.7_1,...,Daerah,District,None,MY.SL.PE,(POINT (101.5373067 3.06411)),3.064110,101.537307,'w281qtc',False,100
72,276683122,2306,food_court,Medan Selera,MYS,Malaysia,MYS.15_1,Selangor,None,MYS.15.7_1,...,Daerah,District,None,MY.SL.PE,(POINT (101.52777 3.0602192)),3.060219,101.527770,'w281qm4',False,100
73,276691001,2301,restaurant,Village View,MYS,Malaysia,MYS.15_1,Selangor,None,MYS.15.2_1,...,Daerah,District,None,MY.SL.HL,(POINT (101.7509547 2.9717419)),2.971742,101.750955,'w282gku',False,100
74,276691015,2301,restaurant,None,MYS,Malaysia,MYS.15_1,Selangor,None,MYS.15.2_1,...,Daerah,District,None,MY.SL.HL,(POINT (101.7522632 2.9757756)),2.975776,101.752263,'w282gmt',False,100
75,276691335,2110,hospital,Pusat Perubatan Kajang Plaza (KPMC),MYS,Malaysia,MYS.15_1,Selangor,None,MYS.15.2_1,...,Daerah,District,None,MY.SL.HL,(POINT (101.7880498 2.9956053)),2.995605,101.788050,'w283h1r',True,500
76,277400916,2301,restaurant,None,MYS,Malaysia,MYS.15_1,Selangor,None,MYS.15.7_1,...,Daerah,District,None,MY.SL.PE,(POINT (101.5292602 3.0758177)),3.075818,101.529260,'w281qrg',False,100
77,277400928,2301,restaurant,Briyani Tambak Johor,MYS,Malaysia,MYS.15_1,Selangor,None,MYS.15.7_1,...,Daerah,District,None,MY.SL.PE,(POINT (101.5293282 3.0757189)),3.075719,101.529328,'w281qrg',False,100
78,278988687,2901,toilet,None,MYS,Malaysia,MYS.15_1,Selangor,None,MYS.15.7_1,...,Daerah,District,None,MY.SL.PE,(POINT (101.5079404 3.0773807)),3.077381,101.507940,'w281tb5',False,100
79,278988751,2301,restaurant,Kantin,MYS,Malaysia,MYS.15_1,Selangor,None,MYS.15.7_1,...,Daerah,District,None,MY.SL.PE,(POINT (101.5067017 3.076531)),3.076531,101.506702,'w281tb4',False,100
80,279296768,2952,water_tower,None,MYS,Malaysia,MYS.15_1,Selangor,None,MYS.15.4_1,...,Daerah,District,None,MY.SL.KE,(POINT (101.5418672 3.0299636)),3.029964,101.541867,'w281nxs',False,100
81,279317933,2952,water_tower,None,MYS,Malaysia,MYS.15_1,Selangor,None,MYS.15.7_1,...,Daerah,District,None,MY.SL.PE,(POINT (101.5583901 3.0557984)),3.055798,101.558390,'w281rh2',False,100
82,279972124,2303,cafe,Pak Li Kopitiam,MYS,Malaysia,MYS.15_1,Selangor,None,MYS.15.7_1,...,Daerah,District,None,MY.SL.PE,(POINT (101.4850329 3.0747185)),3.074718,101.485033,'w281mre',True,500
83,279972127,2301,restaurant,Nachos-Nachos,MYS,Malaysia,MYS.15_1,Selangor,None,MYS.15.7_1,...,Daerah,District,None,MY.SL.PE,(POINT (101.5179874 3.0717725)),3.071772,101.517987,'w281qp5',False,100
84,280388119,2952,water_tower,None,MYS,Malaysia,MYS.15_1,Selangor,None,MYS.15.7_1,...,Daerah,District,None,MY.SL.PE,(POINT (101.5394624 3.0845572)),3.084557,101.539462,'w281w9d',False,100
85,280429458,2002,fire_station,Fire Station Subang Jaya,MYS,Malaysia,MYS.15_1,Selangor,None,MYS.15.7_1,...,Daerah,District,None,MY.SL.PE,(POINT (101.5847557 3.0737507)),3.073751,101.584756,'w281rxe',False,100
86,280430097,2001,police,Police Station SS17,MYS,Malaysia,MYS.15_1,Selangor,None,MYS.15.7_1,...,Daerah,District,None,MY.SL.PE,(POINT (101.5852023 3.0737928)),3.073793,101.585202,'w281rxs',False,100
87,280431297,2205,playground,Playground,MYS,Malaysia,MYS.15_1,Selangor,None,MYS.15.7_1,...,Daerah,District,None,MY.SL.PE,(POINT (101.585432 3.077698)),3.077698,101.585432,'w281x8k',False,100
88,280433673,2205,playground,Playground,MYS,Malaysia,MYS.15_1,Selangor,None,MYS.15.7_1,...,Daerah,District,None,MY.SL.PE,(POINT (101.5886334 3.079215)),3.079215,101.588633,'w281x8w',False,100
89,280451022,2302,fast_food,McDonald's,MYS,Malaysia,MYS.15_1,Selangor,None,MYS.15.7_1,...,Daerah,District,None,MY.SL.PE,(POINT (101.5860228 3.0790955)),3.079096,101.586023,'w281x8s',False,100
90,280462434,2205,playground,None,MYS,Malaysia,MYS.15_1,Selangor,None,MYS.15.7_1,...,Daerah,District,None,MY.SL.PE,(POINT (101.5999541 3.0746638)),3.074664,101.599954,'w281rzw',False,100
91,280984259,2502,bakery,Dunkin Donuts,MYS,Malaysia,MYS.15_1,Selangor,None,MYS.15.7_1,...,Daerah,District,None,MY.SL.PE,(POINT (101.5466569 3.0782199)),3.078220,101.546657,'w281wb2',False,100
92,280984259,2302,fast_food,Dunkin Donuts,MYS,Malaysia,MYS.15_1,Selangor,None,MYS.15.7_1,...,Daerah,District,None,MY.SL.PE,(POINT (101.5466569 3.0782199)),3.078220,101.546657,'w281wb2',False,100
93,282506222,2004,post_box,None,MYS,Malaysia,MYS.15_1,Selangor,None,MYS.15.7_1,...,Daerah,District,None,MY.SL.PE,(POINT (101.547788 3.0865649)),3.086565,101.547788,'w281wcb',False,100
94,282914769,2301,restaurant,Restoran HM Seri Bagan,MYS,Malaysia,MYS.15_1,Selangor,None,MYS.15.9_1,...,Daerah,District,None,MY.SL.SP,(POINT (101.6858425 2.6101347)),2.610135,101.685843,'w22qcgj',False,100
95,283625800,2005,post_office,Pejabat Pos Batu 18 Jalan Semenyih,MYS,Malaysia,MYS.15_1,Selangor,None,MYS.15.2_1,...,Daerah,District,None,MY.SL.HL,(POINT (101.8287507 2.9744312)),2.974431,101.828751,'w282vjm',True,500
96,284005482,2001,police,Balai Polis Komuniti Bandar Teknologi,MYS,Malaysia,MYS.15_1,Selangor,None,MYS.15.2_1,...,Daerah,District,None,MY.SL.HL,(POINT (101.8282692 2.9735502)),2.973550,101.828269,'w282vjm',False,100
97,284005484,2301,restaurant,Restoran Foong Yan Loy,MYS,Malaysia,MYS.15_1,Selangor,None,MYS.15.2_1,...,Daerah,District,None,MY.SL.HL,(POINT (101.828671 2.9739655)),2.973965,101.828671,'w282vjm',False,100
98,284005488,2301,restaurant,Restoran Ibrahim Maju,MYS,Malaysia,MYS.15_1,Selangor,None,MYS.15.2_1,...,Daerah,District,None,MY.SL.HL,(POINT (101.8283944 2.9737352)),2.973735,101.828394,'w282vjm',False,100
99,284005492,2541,car_dealership,Proton Edar,MYS,Malaysia,MYS.15_1,Selangor,None,MYS.15.2_1,...,Daerah,District,None,MY.SL.HL,(POINT (101.8284616 2.9738228)),2.973823,101.828462,'w282vjm',False,100

In [40]:
### Create bbox msia

In [41]:
bbox_coordinates = [2.442250, 101.026847, 3.853692, 101.874907]
concentratedarea = compute_geohash_tiles(bbox_coordinates,7)
print(len(concentratedarea))

634276

In [42]:
# STEP 2 
# CONVERT THE COORDINATES INTO POLYGON
myshape = pd.DataFrame(concentratedarea)
myshape.columns = ['geohash']
# # tak yah buat di bawah pun tak ngapa

In [43]:
concentratedarea[1]

'w281ut1'

In [73]:
myshape.head()

   geohash
0  w281ut4
1  w281ut1
2  w281ut5
3  w281usf
4  w281usc

In [69]:
msia_poi['geohash'] = msia_poi['geometry'].apply(lambda x:compute_geohash_tiles_from_polygon(x,7))

In [46]:
len(msia_poi)

5377

In [57]:
#len(msia_poi.fclass.unique())
#len(msia_poi.code.unique())
#msia_poi.fclass.unique()
import numpy as np
tier1 = ['atm', 'post_office', 'public_building', 
         'supermarket', 'bank', 'mall', 'school',
         'town_hall', 'hospital', 'university', 'cafe', 'convenience']

msia_poi['cx_count'] = msia_poi['fclass'].isin(tier1)
msia_poi['cx_count_int'] = np.where(msia_poi['cx_count']==True, 500, 100 )

In [71]:
msia_poi['geohash'] = msia_poi['geohash'].astype(str)
msia_poi['geohash'] = msia_poi['geohash'].str[1:]
msia_poi['geohash'] = msia_poi['geohash'].str[:-1]

In [72]:
msia_poi['geohash'].head()

0    'w281wdp'
1    'w281q44'
2    'w281qc2'
3    'w281q7p'
4    'w281qe6'
Name: geohash, dtype: object

In [109]:
msia_route = msia_gdf
msia_route.head()

,osm_id,code,fclass,name,ref,oneway,maxspeed,layer,bridge,tunnel,...,NL_NAME_1,GID_2,NAME_2,VARNAME_2,NL_NAME_2,TYPE_2,ENGTYPE_2,CC_2,HASC_2,geometry
0,4931450,5122,residential,Jalan Pinggiran USJ 1/17,None,B,0,0,F,F,...,None,MYS.15.7_1,Petaling,Shah Alam,None,Daerah,District,None,MY.SL.PE,"LINESTRING (101.5552027 3.0501994, 101.5562486..."
1,4931468,5115,tertiary,Jalan Pinggiran USJ 1,None,B,0,0,F,F,...,None,MYS.15.7_1,Petaling,Shah Alam,None,Daerah,District,None,MY.SL.PE,"LINESTRING (101.5548825 3.0500569, 101.5550899..."
2,4931834,5122,residential,Persiaran Perusahaan U/1,None,B,0,0,F,F,...,None,MYS.15.7_1,Petaling,Shah Alam,None,Daerah,District,None,MY.SL.PE,"LINESTRING (101.5546656 3.091444, 101.5546525 ..."
3,4931877,5113,primary,Jalan Montford,B9,F,0,0,F,F,...,None,MYS.15.7_1,Petaling,Shah Alam,None,Daerah,District,None,MY.SL.PE,"LINESTRING (101.5533042 3.0878122, 101.5527241..."
4,4934921,5113,primary,Bulatan Megawati,None,F,0,0,F,F,...,None,MYS.15.7_1,Petaling,Shah Alam,None,Daerah,District,None,MY.SL.PE,"LINESTRING (101.5435172 3.0521068, 101.5433673..."

In [110]:
msia_route['geohash'] = msia_route['geometry'].apply(lambda x:compute_geohash_tiles_from_polygon(x,7))

In [111]:
msia_route['geohash'] = msia_route['geohash'].astype(str)
msia_route['geohash'] = msia_route['geohash'].str[1:]
msia_route['geohash'] = msia_route['geohash'].str[:-1]

In [112]:
msia_route.head()

,osm_id,code,fclass,name,ref,oneway,maxspeed,layer,bridge,tunnel,...,GID_2,NAME_2,VARNAME_2,NL_NAME_2,TYPE_2,ENGTYPE_2,CC_2,HASC_2,geometry,geohash
0,4931450,5122,residential,Jalan Pinggiran USJ 1/17,None,B,0,0,F,F,...,MYS.15.7_1,Petaling,Shah Alam,None,Daerah,District,None,MY.SL.PE,"LINESTRING (101.5552027 3.0501994, 101.5562486...",'w281r52'
1,4931468,5115,tertiary,Jalan Pinggiran USJ 1,None,B,0,0,F,F,...,MYS.15.7_1,Petaling,Shah Alam,None,Daerah,District,None,MY.SL.PE,"LINESTRING (101.5548825 3.0500569, 101.5550899...",'w281r50'
2,4931834,5122,residential,Persiaran Perusahaan U/1,None,B,0,0,F,F,...,MYS.15.7_1,Petaling,Shah Alam,None,Daerah,District,None,MY.SL.PE,"LINESTRING (101.5546656 3.091444, 101.5546525 ...",'w281wfj'
3,4931877,5113,primary,Jalan Montford,B9,F,0,0,F,F,...,MYS.15.7_1,Petaling,Shah Alam,None,Daerah,District,None,MY.SL.PE,"LINESTRING (101.5533042 3.0878122, 101.5527241...",'w281wfh'
4,4934921,5113,primary,Bulatan Megawati,None,F,0,0,F,F,...,MYS.15.7_1,Petaling,Shah Alam,None,Daerah,District,None,MY.SL.PE,"LINESTRING (101.5435172 3.0521068, 101.5433673...",'w281qet'

In [113]:
merge = msia_route.merge(msia_poi, on='geohash', how='left')

In [121]:

merge['cx_count_int'] = merge['cx_count_int'].fillna(0)
merge['cx_count_int'].unique()

array([  0., 100., 500.])

In [114]:
merge.head()
merge.columns
merge = merge.drop(['geometry_y', 'cx_count'], axis=1)
#merge.drop

In [116]:
merge.columns
len(merge)

179825

In [122]:
merge = GeoDataFrame(merge, geometry='geometry_x')
#merge_road.head()
merge.to_file('msia_route_weight/')

In [74]:
msia_poi.groupby('fclass').count()[['osm_id']]

                  osm_id
fclass
artwork                8
atm                  202
attraction            38
bakery                36
bank                 312
bar                    9
beauty_shop           28
bench                 13
beverages             22
bicycle_rental         5
bicycle_shop          26
bookshop              22
butcher                7
cafe                 222
camp_site             20
car_dealership        46
car_rental             3
car_wash              26
castle                 4
chalet                13
chemist               13
cinema                18
clothes               36
college               23
comms_tower           10
community_centre      48
computer_shop         13
convenience          372
courthouse             4
dentist               31
...                  ...
shoe_shop             11
sports_centre         19
sports_shop           12
stadium                1
stationery            12
supermarket          158
swimming_pool          8
telephone             11
theatre                2
theme_park             1
toilet                65
tourist_info          13
tower                 10
town_hall             15
toy_shop               7
track                  2
travel_agent           2
university             8
vending_any            5
vending_machine        1
vending_parking        4
veterinary             7
viewpoint             82
waste_basket           8
wastewater_plant      11
water_tower          153
water_well             2
water_works            4
wayside_shrine         7
zoo                    1

[115 rows x 1 columns]

In [47]:
msia_poi.fclass.unique()

array(['supermarket', 'mall', 'fast_food', 'hospital', 'restaurant',
       'bank', 'pharmacy', 'convenience', 'school', 'police',
       'vending_parking', 'department_store', 'viewpoint', 'toilet',
       'theatre', 'tower', 'picnic_site', 'public_building', 'food_court',
       'water_tower', 'cafe', 'fire_station', 'playground', 'bakery',
       'post_box', 'post_office', 'car_dealership', 'clothes',
       'furniture_shop', 'prison', 'community_centre', 'hotel',
       'golf_course', 'attraction', 'sports_centre', 'kiosk', 'car_wash',
       'laundry', 'college', 'university', 'greengrocer', 'doctors',
       'gift_shop', 'cinema', 'courthouse', 'atm', 'chemist', 'dentist',
       'bookshop', 'telephone', 'toy_shop', 'guesthouse', 'recycling',
       'graveyard', 'vending_machine', 'hostel', 'camp_site',
       'tourist_info', 'bicycle_rental', 'observation_tower', 'pub',
       'bar', 'fountain', 'museum', 'town_hall', 'outdoor_shop',
       'kindergarten', 'butcher', 'swimming_pool', 'zoo', 'bench',
       'chalet', 'bicycle_shop', 'artwork', 'hairdresser',
       'computer_shop', 'shelter', 'monument', 'nightclub', 'park',
       'doityourself', 'pitch', 'library', 'comms_tower', 'waste_basket',
       'theme_park', 'jeweller', 'beverages', 'florist', 'sports_shop',
       'wastewater_plant', 'veterinary', 'newsagent', 'stationery',
       'drinking_water', 'motel', 'beauty_shop', 'water_works',
       'optician', 'car_rental', 'travel_agent', 'castle', 'memorial',
       'recycling_glass', 'shoe_shop', 'mobile_phone_shop',
       'hunting_stand', 'track', 'wayside_shrine', 'garden_centre',
       'ruins', 'nursing_home', 'water_well', 'stadium', 'vending_any'],
      dtype=object)

In [125]:
msia_poi[['lat', 'lon', 'cx_count_int']].to_csv('heatmap.csv')